@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    font-family: 'Leckerli One', cursive;  
}
a.btn_down{
    text-decoration: none;
    color: #fff;
    position: absolute; 
    bottom: 41px;
    font-size: 20px;
    height: 60px;
    width: 60px;    
    /* margin-left: 48%; */

}
.pb-1{
    animation: animate__fadeInUp;
    animation-duration: 2s;
}
a.btn_down:hover{
    color: #1ebba3 ;
}


body{
    overflow-x: hidden;
    font-family: 'Lato',sans-serif;
    color: #505962; 
}
.navbar{    
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;

}
.navbar-nav li{
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link{
    padding-top: .7rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}
.navbar .fa-code:hover{
    color: #1ebba3;
}
.navbar .navbar-brand:hover{
    color: yellow;
}

/* landing page css */
.home-inner{
    background-image: url('/static/img/back.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 760px;
    background-position: center;
}
.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 1;
    text-transform: uppercase;
}

@media only screen and (max-width:768px){
    .caption h1{
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: .1rem;
        text-shadow: .1rem,.1rem,.8rem,black;   
    }
    .home-inner{
        height: 500px;
    }
    .caption{
        width: 100%;
        max-width: 100%;
        position: absolute;
        top: 40%;
        z-index: 1;
        text-transform: uppercase;
    }
    .abm{
        font-size: 25px;
    }
    #aboutMe .rounded-circle{
        width: 150px;
        height: 150px;
    }
    #aboutMe .modal-body img{
        height: 200px;
        width: 140px;
    }
    #aboutMe .title{
        font-weight: 700;
        letter-spacing: 1px;
    }
    #aboutMe .prof{
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        letter-spacing: 1px;
        color: rgb(223, 222, 222);
    }
    .ab-para .modal-content h4{
        font-size: 15px;
    }
    .fa-facebook-f{
        font-size: 20px;
        /* margin-left: 18px; */
        color: white;
    }
    .fa-twitter{
        font-size: 20px;
        /* margin-left: 220px; */
        color: white;
    
    }
    .fa-instagram{
        font-size: 20px;
        /* margin-left: 18px; */
        color: white;
    
    }
    .ab-para{
        font-size: 12px;
        margin-top: 17px;
    }

    #Skills .skills{
        background-color:#1b1b1b;
    }
    #Skills h3{
        font-size: 1.9rem;
        font-weight: 700;
        text-transform: uppercase;
    
    }
    #Skills h1{
        font-weight: bold;
        font-size: 30px;
    }
    .rounded-circle{
        width: 70px;
        height: 70px;
        display: inline-block;
        line-height: 7;
        border: 1px solid rgba(243, 238, 238, 0.5);
        border-radius: 50%;
    }
    #Skills li{
        font-size: 10px;
    }
    #Skills img{
        margin-top: 30px;
    
    }
    #Skills i{
        margin-top: 30px;
        color: #1ebba3;
    }
    #Skills img{
        height:30px;
        width:30px;

    }
    .bgimg3{
        background-image: url('/static/img/contact2.jpg');
        background-size: cover;
        /* font-family: Georgia, 'Times New Roman', Times, serif ; */
    }
    #contact .row{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact h1{
        font-size: 40px;
        color: white;
        margin-top: 150px;
    }
    #contact p{
        font-size: 17px;
        color: white;
    }
    #contact h3{
        font-size: 27px;
        color: white;
    }
    .glyphicon{
        font-size: 30px;
        color: white;
        float: right;
    }
    .col-md-5{
        margin-top: 70px;
        box-shadow: -1px 1px 60px 10px rgb(0, 0, 0);
        background-color: rgba(0,0,0,0.4);
    }
    .label{
        font-weight: normal;
        margin-top: 30px;
        color: white;
        font-size: 19px;
    }
    .form-control{
        background: transparent;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid white ;
        font-size: 18px;
        margin-top: 15px;
        height: 40px;
        color: white;
        width: 90%;
        margin-left: 30px;
    }
    .btnmsg{
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 20px;
        margin-bottom: 20px ;
        
    }
    #contact hr{
        width: 85%;
        margin-left: 40px;
    }
    
}

/* medium query */

@media only screen and (min-width:768px){
    .caption h1{
        font-size: 3.5rem;
        font-weight: 700;
        letter-spacing: .1rem;
        text-shadow: .1rem,.1rem,.8rem,black;   
    }
    .abm{
        font-size: 35px;
    }
    #aboutMe .rounded-circle{
        width: 200px;
        height: 200px;
    }
    #aboutMe .modal-body img{
        height: 230px;
        width: 170px;
    }
    #aboutMe .title{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 30px;
    }
    #aboutMe .prof{
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        letter-spacing: 1px;
        color: rgb(223, 222, 222);
    }
    .ab-para .modal-content h4{
        font-size: 22px;
    }
    .fa-facebook-f{
        font-size: 30px;
        /* margin-left: 18px; */
        color: white;
    }
    .fa-twitter{
        font-size: 30px;
        /* margin-left: 220px; */
        color: white;
    
    }
    .fa-instagram{
        font-size: 30px;
        /* margin-left: 18px; */
        color: white;
    
    }
    .ab-para{
        font-size: 18px;
        margin-top: 21px;
    }

     #Skills .skills{
        background-color:#030303;
    }
    #Skills h3{
        font-size: 1.9rem;
        font-weight: 700;
        text-transform: uppercase;
    
    }
    #Skills h1{
        font-weight: bold;
        font-size: 37px;

    }
    .rounded-circle{
        width: 75px;
        height: 75px;
        display: inline-block;
        line-height: 5;
        border: 1px solid rgba(243, 238, 238, 0.5);
        border-radius: 50%;
    }
    #Skills li{
        font-size: 15px;
    }
    #Skills img{
        margin-top: 30px;
    
    }
    #Skills i{
        margin-top: 30px;
        color: #1ebba3;
    }
    #Skills img{
        height:40px;
        width:40px;

    }
    .bgimg3{
        background-image: url('/static/img/contact2.jpg');
        background-size: cover;
        /* font-family: Georgia, 'Times New Roman', Times, serif ; */
    }
    #contact .row{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact h1{
        font-size: 40px;
        color: white;
        margin-top: 150px;
    }
    #contact p{
        font-size: 17px;
        color: white;
    }
    #contact h3{
        font-size: 27px;
        color: white;
    }
    .glyphicon{
        font-size: 30px;
        color: white;
        float: right;
    }
    .col-md-5{
        margin-top: 70px;
        box-shadow: -1px 1px 60px 10px rgb(0, 0, 0);
        background-color: rgba(0,0,0,0.4);
    }
    .label{
        font-weight: normal;
        margin-top: 30px;
        color: white;
        font-size: 19px;
    }
    .form-control{
        background: transparent;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid white ;
        font-size: 18px;
        margin-top: 15px;
        height: 40px;
        color: white;
    }
    .btnmsg{
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 20px;
        margin-bottom: 20px ;
        
    }
    
}
@media only screen and (min-width:1200px){
    .caption h1{
        font-size: 4.3rem;
        font-weight: 700;
        letter-spacing: .1rem;
        text-shadow: .1rem,.1rem,.8rem,black;   
    }
    .abm{
        font-size: 45px;
    }
    #aboutMe .rounded-circle{
        width: 250px;
        height: 250px;
    }
    #aboutMe .modal-body img{
        height: 320px;
        width: 230px;
    }
    #aboutMe .title{
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 35px;
    }
    #aboutMe .prof{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        color: rgb(223, 222, 222);
    }
    .ab-para .modal-content h4{
        font-size: 26px;
    }
    .fa-facebook-f{
        font-size: 35px;
        /* margin-left: 18px; */
        color: white;
    }
    .fa-twitter{
        font-size: 35px;
        /* margin-left: 220px; */
        color: white;
    
    }
    .fa-instagram{
        font-size: 35px;
        /* margin-left: 18px; */
        color: white;
    
    }
    .ab-para{
        font-size: 20px;
        /* margin-top: 21px; */
    }
    #Skills .skills{
        background-color:#1b1b1b;
    }
    #Skills h3{
        font-size: 1.9rem;
        font-weight: 700;
        text-transform: uppercase;
    
    }
    #Skills h1{
        font-weight: bold;
        font-size: 40px;

    }
    .rounded-circle{
        width: 85px;
        height: 85px;
        display: inline-block;
        line-height: 5;
        border: 1px solid rgba(243, 238, 238, 0.5);
        border-radius: 50%;
    }
    #Skills img{
        margin-top: 30px;
    
    }
    #Skills i{
        margin-top: 30px;
        color: #1ebba3;
    }
    #Skills img{
        height:60px;
        width:60px;

    }
    .bgimg3{
        background-image: url('/static/img/contact2.jpg');
        background-size: cover;
        /* font-family: Georgia, 'Times New Roman', Times, serif ; */
    }
    #contact .row{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    #contact h1{
        font-size: 40px;
        color: white;
        margin-top: 150px;
    }
    #contact p{
        font-size: 17px;
        color: white;
    }
    #contact h3{
        font-size: 27px;
        color: white;
    }
    .glyphicon{
        font-size: 30px;
        color: white;
        float: right;
    }
    .col-md-5{
        margin-top: 70px;
        box-shadow: -1px 1px 60px 10px rgb(0, 0, 0);
        background-color: rgba(0,0,0,0.4);
    }
    .label{
        font-weight: normal;
        margin-top: 30px;
        color: white;
        font-size: 19px;
    }
    .form-control{  
        background: transparent;
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid white ;
        font-size: 18px;
        margin-top: 15px;
        height: 40px;
        color: white;
    }
    .btnmsg{
        margin-left: 40%;
        margin-right: 40%;
        margin-top: 20px;
        margin-bottom: 20px ;
        
    }
    
    
}

/* changing media q */

@media only screen and (max-width:768px){
    .caption h3{
        font-size: 1rem;
        text-shadow:.1rem,.1rem,.5rem, black;
        letter-spacing: 1px;
        /* background-color: gold; */
    }
    
   
}
@media only screen and (min-width:768px){
    .caption h3{
        font-size: 1.8rem;
        text-shadow:.1rem,.1rem,.5rem, black;
        letter-spacing: .2rem;
        /* background-color: gold; */
    }
    
}
@media only screen and (min-width:1200px){
    .caption h3{
        font-size: 2.3rem;
        text-shadow:.1rem,.1rem,.5rem, black;
        letter-spacing: .2rem;
        /* background-color: gold; */
    }
    
}
     
/* about me css */


.black-bg{
    background-color: rgb(3, 44, 78);
}
.heading-underline2{
    background-color: white;
    width: 5rem;
    height: .1rem;
    margin: 0 auto;
}


/* project css */
#project{
    background-image: url('/static/img/project.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    height: auto;

}
.bg-overlay {
    background-color:rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* padding: 4rem 2rem;
    background-size: cover;
    background-position: center; */
}
.bg2-overlay{
    background-color:rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

#project .card-body{
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.1);

}
#project .card{
    border-radius: 0;
    box-shadow: 5px 5px 15px #1b1b1b;   
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
#project .card:hover{
    background: #1b1b1b;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 8px rgb(204, 81, 65);

}

.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;

}
.heading-underline{
    width: 7rem;
    height: .2rem;
    background-color: #1ebba3;
    margin: 0 auto;
}
/* project section end  */


/* font awesomes css */
.fa-palette{
    font-size: 27px;
    margin-right: 7px;


}
.fa-cogs{
    font-size: 25px;
}
.fa-tools{
    font-size: 25px;
    margin-right: 6px;
}
.fa-lightbulb{
    font-size: 30px;
}
/* font awesome end  */

/* contact css */



/* footer css */

.fa-instagram:hover{
 color: #1ebba3;

}
.fa-twitter:hover{
    color: #1ebba3

}
.fa-facebook-f:hover{
    color: #1ebba3
    
}





